<br>
<div class="basic-grey">
	<h1><%=t('message.wellcome')%></h1>

	<ul>
		<li><span class="glyphicon glyphicon-th-list" area-hiden="true"></span> <%= link_to t('Tipos'), kinds_path %></li>
		<li><span class="glyphicon glyphicon-phone-alt" aria-hiden="true"></span> <%= link_to "Contatos", contacts_path %></li>				
	</ul>
</div>